:root {
  scroll-behavior: inherit;
  --bs-gutter-x: 20px;
  --fs-72-32: 4.5rem;
  --fs-72-24: var(--fs-72-32);
  --fs-48-24: 3rem;
  --fs-48-sm-18: var(--fs-48-24);
  --fs-48-xs-18: var(--fs-48-24);
  --fs-36-24: 2.25rem;
  --fs-36-sm-18: var(--fs-36-24);
  --fs-32-24: 2rem;
  --fs-32-sm-18: var(--fs-32-24);
  --fs-32-sm-16: var(--fs-32-24);
  --fs-24-18: 1.5rem;
  --fs-24-lg-16: var(--fs-24-18);
  --fs-24-sm-16: var(--fs-24-18);
  --fs-18-16: 1.125rem;
  --fs-18-14: var(--fs-18-16);
  --fs-16-14: 1rem;
  --fs-16-sm-12: var(--fs-16-14);
  --fs-16-xs-12: var(--fs-16-14);
  --fs-16-sm-10: var(--fs-16-14);
  --fs-16-xs-10: var(--fs-16-14);
  --fs-14: 0.875rem;
  --fs-14-12: 0.875rem;
  --fs-14-sm-10: var(--fs-14-12);
  --fs-14-xs-10: var(--fs-14-12);
  --fs-12: 0.75rem;
  --height-60-50: 60px;
  --height-60-40: 60px;
  --height-50-40: 50px;
  --size-60-50: 60px;
  --size-60-40: 60px;
  --size-50-40: 50px;
  --size-50-30: 50px;
  --size-40-30: 40px;
  --size-30-25: 30px;
  --page-padding: 25px;
  --wrapper-gap: 0px;
  --product-bar: 295px;
  --border-raduis-24: 24px;
  --border-raduis-18: 18px;
  --border-raduis-16: 16px;
  --border-raduis-main: 2px;
  --main-color: #E61B10;
  --main-color-hover: #FF0D00;
  --accent-color: #808080;
  --accent-color-hover: #808080;
  --second-color: #e5e5e5;
  --second-light-color: #f2f2f2;
  --text-color: #000;
  --shadow: 8px 8px 15px 0px rgba(0,0,0,.1);
}

.row {
  --bs-gutter-x: 40px;
}

@keyframes up {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-5px);
  }
}
@keyframes down {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(5px);
  }
}
@keyframes right {
  from {
    transform: translatex(0px);
  }
  to {
    transform: translatex(5px);
  }
}
@keyframes left {
  from {
    transform: translatex(0px);
  }
  to {
    transform: translatex(-5px);
  }
}
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  cursor: pointer;
  color: inherit;
}

a, a:hover, a:focus {
  text-decoration: none;
  outline: 0;
  -moz-outline: 0;
}

button, button:hover, button:focus, .btn:focus, .btn:active:focus {
  outline: 0;
  -moz-outline: 0;
}

button {
  border: none;
  background: none;
  margin: 0;
  padding: 0;
  color: inherit;
}

img {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: auto;
}

textarea {
  max-width: 100%;
  width: 100%;
  min-width: 100%;
  min-height: 40px;
}

ul, ol, dl {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, p, dt, dd {
  padding: 0;
  margin: 0;
}

b, dt, h1, h2, h3, h4, h5, strong {
  font-weight: normal;
}

s {
  text-decoration-color: var(--main-color);
}

html {
  height: 100%;
  font-size: 16px;
}

body {
  width: 100%;
  height: 100%;
  min-width: 320px;
  font-size: var(--fs-14);
  color: var(--text-color);
  background: #fff;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

header {
  flex: 0 0 auto;
}

main {
  flex: 1 0 auto;
}

footer {
  flex: 0 0 auto;
}

.page {
  max-width: 800px;
  margin: 0 auto;
  padding: 50px var(--page-padding);
}